<div class="menu">
<div class="container">
    <div class="row">
            <div class="menu-wrapper">
                <div class="nav">
                    <ul>
                        <li><a href="#hello">Hello</a> </li>
                        <li><a href="#resume">Resume</a> </li>
                        <li><a href="">Portfolio</a> </li>
                        <li><a href="">Public Github</a> </li>
                        <li><a href="">Contact</a> </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>

<!-- <div class="menu menu--active">
    <div class="container">
      <div class="row">
        <div class="menu__wrapper d-none d-lg-block col-md-12">
          <nav class="">
            <ul>
              <li><a href="#hello">Hello</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#testimonials">testimonials</a></li>
              <li><a href="#blog">blog</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="menu__wrapper col-md-12 d-lg-none">
          <button type="button" class="menu__mobile-button">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div> -->
<div class="banner" >
      
        <div class="container">
            <div class="row personal-profile">
                <div class="col-md-4 personal-profile-avatar">
                    <img src="../../../assets/img/avatar1.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p class="personal-profile__name">Syed Nafees Aslam_</p>
                    <p class="personal-profile__work">FullStack Developer, MEANStack, LAMPStack</p>
                    <div class="personal-profile__contacts">
                        <dl class="contact-list contact-list__opacity-titles">
                            <dt>Age:</dt>
                            <dd>{{todaysdate | datetoage}}</dd>
                            <dt>Phone:</dt>
                            <dd><a href="tel:+917001214053">7001214053</a> </dd>
                            <dt>Email:</dt>
                            <dd><a href="mailto:nafeesbinaslam005@gmail.com" target="_blank"> nafeesbinaslam005@gmail.com</a> </dd>
                            <dt>Location:</dt>
                            <dd>Mumbai</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="section " id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3>Hi_</h3>
                <p class="section__description">
                    I am Junior Web developer able to build a Web presence from the ground up - from concept, navigation, layout and programming to UX and SEO. Skilled at writing well-designed, testable and efficient code using current best practices in Web development. Fast learner, hard worker and team player who is proficient in an array of scripting languages and multimedia Web tools.
                </p>
                <button class="site-btn">Download Resume</button>
            </div>
        </div>
    </div>
</div>
<div class="section" id="resume">
    <div class="container section">
        <div class="row">
            <div class="col-md-10">
                <h3>Resume_</h3>
                <p class="section__description">
                    I am Junior Web developer able to build a Web presence from the ground up - from concept, navigation, layout and programming to UX and SEO. Skilled at writing well-designed, testable and efficient code using current best practices in Web development. Fast learner, hard worker and team player who is proficient in an array of scripting languages and multimedia Web tools.
                </p>
            </div>
        </div>
        <!-- Education -->
        <div class="row">
            <div class="col-md-8 section__resume resume-list">
              <h3 class="resume-list_title">education</h3>
              <div class="resume-list__block">
                <p class="resume-list__block-title"><a (click)="navigateWithId(1)">Thiruvalluvar University</a> </p>
                <p class="resume-list__block-date">2012 - 2015 </p>
                <p>
                  Bachelor Of Science [Physics]
                </p>
              </div>
              <div class="resume-list__block">
                <p class="resume-list__block-title"><a (click)="navigateWithId(2)">Kalyan Central Model Public School</a> </p>
                <p class="resume-list__block-date">2010 - 2012</p>
                <p>
                  Awesome student, lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eius-
                  mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                </p>
              </div>
              <div class="resume-list__block">
                <p class="resume-list__block-title"><a (click)="navigateWithId(3)">Holy Cross School</a> </p>
                <p class="resume-list__block-date">2003 - 2010</p>
                <p>
                  Student, Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                </p>
              </div>
            </div>
        </div>
        <!-- Employment -->
        <div class="row">
            <div class="col-md-8 section__resume resume-list">
              <h3 class="resume-list_title">Employement</h3>
              <div class="resume-list__block">
                <p class="resume-list__block-title">QDrift Technologies Pvt. Ltd. [Bangalore]</p>
                <p class="resume-list__block-date">2019 - 2021</p>
                <p>
                  Bachelor Computer Engineering Lorem
                </p>
              </div>
              <div class="resume-list__block">
                <p class="resume-list__block-title">Ubiquitant [Kolkata]</p>
                <p class="resume-list__block-date">2018 - 2019</p>
                <p>
                  Awesome student, lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eius-
                  mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                </p>
              </div>
              <div class="resume-list__block">
                <p class="resume-list__block-title">Align Associate [Chennai]</p>
                <p class="resume-list__block-date">2016 - 2018</p>
                <p>
                  Student, Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                </p>
              </div>
              <div class="resume-list__block">
                <p class="resume-list__block-title">Faizan Computers [Asansol]</p>
                <p class="resume-list__block-date">2015 - 2016</p>
                <p>
                  Student, Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                </p>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="portfolio"></div>
<div class="section" id="github"></div>
<div class="section" id="contact"></div>

<div class="section"></div>



