<div class="banner" >
      
    <div class="container">
        <div class="row personal-profile">
            
            <div class="col-md-12 education-section">
                <p class="personal-profile__name">{{title}}_</p>
                <p class="personal-profile__work">{{addr}}</p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="resume">
    <div class="container section">
        <div class="row">
            <div class="col-md-10">
                <h3>{{academy_level}}_</h3>
                <p class="section__description">
                    I am Junior Web developer able to build a Web presence from the ground up - from concept, navigation, layout and programming to UX and SEO. Skilled at writing well-designed, testable and efficient code using current best practices in Web development. Fast learner, hard worker and team player who is proficient in an array of scripting languages and multimedia Web tools.
                </p>
            </div>
        </div>
        <!-- Education -->
        <div class="row">
            <div class="col-md-8 section__resume resume-list">
              <h3 class="resume-list_title">subjects</h3>
              <div class="resume-list__block" *ngFor="let subject of subjects">
                <p class="resume-list__block-title"><a href="">{{subject.sub}}</a> </p>
                <!-- <p class="resume-list__block-date">Secured 95% </p> -->
                <div class="progress-list">
                    <div class="progress-list__skill">
                        <p>
                          <!-- <span class="progress-list__skill-title">bootstrap 3</span> -->
                          <span class="progress-list__skill-value">Secured {{subject.marks}}%</span>
                        </p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':subject.marks}">
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              
            </div>
        </div>
        <!-- Employment -->
        
    </div>
</div>